{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":1,"column":0},"action":"remove","lines":["BzrTools==2.6.0",""],"id":2}]]},"ace":{"folds":[],"scrolltop":598.0909337997437,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":33,"state":"start","mode":"ace/mode/text"}},"timestamp":1493939376624,"hash":"cd2979726c139d3ee636cb55bc04cc710bd9c18d"}