{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":3,"position":3,"stack":[[{"start":{"row":10,"column":17},"end":{"row":11,"column":0},"action":"insert","lines":["",""],"id":55}],[{"start":{"row":11,"column":0},"end":{"row":11,"column":8},"action":"insert","lines":["markdown"],"id":56}],[{"start":{"row":13,"column":8},"end":{"row":14,"column":0},"action":"insert","lines":["",""],"id":57}],[{"start":{"row":14,"column":0},"end":{"row":14,"column":14},"action":"insert","lines":["bootsrap_admin"],"id":58}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":14,"column":14},"end":{"row":14,"column":14},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1493942393284,"hash":"232d31f4f1dfc6b46adcd9ce63b01b5577a07a5b"}