Django==1.9
Pillow==2.3.0
dj-database-url==0.4.2
dj-static==0.0.6
bootstrap-admin==0.3.7.1
SecretStorage==2.0.0
appdirs==1.4.3
argparse==1.2.1
six==1.5.2
wheel==0.24.0
whitenoise==3.3.0
markdown
gunicorn 
psycopg2
bootsrap_admin