{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Play Master</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/playmaster.css' %}">
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle mobile-nav-toggle-label show-on-scroll-mobile" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="https://playmaster.herokuapp.com">PlayMaster</a>
          </div>
          <div>
            <div class="collapse navbar-collapse navbar-right" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="https://playmaster.herokuapp.com/#Activity">Activity</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="{% url 'act_new' %}">New <span class="glyphicon glyphicon-plus"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!--Nav Bar End -->
    
    <div id="main" role="main">
    <div class="content container" id="Activity">
      {% block content %}
      {% endblock %}
    </div>
    </div>
    <div id="contact">
      <div id="contact" class="container">
        <div class="row">
          <div class="col contact-title"><h4>Contact Info</h4></div>
        </div>
        <div class="row">
          <div class="col col-md-6 icon_container center-block">
            <!--<p>Email</p>-->
            <a class="icon_href" href="mailto:li1995717@gmail.com">
              <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col col-md-6 icon_container center-block">
            <!--<p>Github</p>-->
            <a class="icon_href"  href="https://github.com/liyujiel" target="_blank">
              <i class="fa fa-github fa-4x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </body>
  <footer>
    <div class="container center">
    <hr>
    <small>&copy; Copyright 
      <a href="liyujiel.github.io">Alex Li</a>
    </small>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  </footer>
</html>