{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Play Master</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/playmaster.css' %}">
  </head>
  <body>
    <div class="page-header">
      <h1>PlayMaster</h1>
    </div>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    <div class="contact">
    {% block contact %}
    {% endblock %}
    </div>
    
  </body>
  <footer>
    <div class="container center">
    <hr>
    <small>&copy; Copyright 
      <a class="icon_href" target="_blank" href="https://liyujiel.github.io/">Alex Li</a>
    </small>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  </footer>
</html>